Source: gpg-body
Section: system
Priority: extra
Maintainer: Uriel Fanelli <uriel.fanelli@gmail.com>
Build-Depends: debhelper , autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/gpg-body.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gpg-body.git;a=summary

Package: gpg-body
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Inline automatic GPG mail encryption for Linux Servers 

